<h2> Some cool links! </h2>
<a href="/farms">All of the farms ("farms" index page)</a>
<br>
<a href="/farmers">All of the farmers ("farmers" index page)</a>
<br>
<a href="/barnyard_animals">All of the animals ("barnyard_animals" index page)</a>
<br>
<a href="/animal_types">All of the kinds of animals ("animal_types" index page)</a>

