<form action="/farms/<%=farm.id%>/barnyard_animals" method="post">
  <input type="text" name="name" placeholder="Animal Name">
  <input type="text" name="type" placeholder="Animal Type">
  <input type="submit" value="New Animal">
</form>
